# Docker image build jobs for CI runners

.docker-in-docker:
  image: docker:27.5.1-dind@sha256:aa3df78ecf320f5fafdce71c659f1629e96e9de0968305fe1de670e0ca9176ce
  services:
    - docker:27.5.1-dind@sha256:aa3df78ecf320f5fafdce71c659f1629e96e9de0968305fe1de670e0ca9176ce
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - docker info
  interruptible: true

image:rust-x86_64-unknown-linux-gnu:
  extends: .docker-in-docker
  stage: images
  needs: []
  variables:
    DOCKERFILE_DIR: "images/rust/x86_64-unknown-linux-gnu"
    OCI_IMAGE_NAME: "images/rust"
    OCI_IMAGE_VARIANT: "x86_64-unknown-linux-gnu"
    GIT_FETCH_EXTRA_FLAGS: "+refs/heads/$CI_DEFAULT_BRANCH:refs/remotes/origin/$CI_DEFAULT_BRANCH"
  artifacts:
    expire_in: "1 hr"
    paths:
      - "./image.tar"
  rules:
    - if: '$IMAGE_BUILD_FORCE == "all" || $IMAGE_BUILD_FORCE == "rust-x86_64-unknown-linux-gnu"'
    - if: '$IMAGE_PUSH_FORCE == "all" || $IMAGE_PUSH_FORCE == "rust-x86_64-unknown-linux-gnu"'
    - changes:
        compare_to: "refs/heads/$CI_DEFAULT_BRANCH"
        paths:
          - "images/rust/x86_64-unknown-linux-gnu/Dockerfile"
          - ".gitlab/ci/images.gitlab-ci.yml"
      if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - changes:
        paths:
          - "images/rust/x86_64-unknown-linux-gnu/Dockerfile"
          - ".gitlab/ci/images.gitlab-ci.yml"
      if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH'
  script: |
    IMAGE_TAG=$(grep "^FROM rust:" ${DOCKERFILE_DIR}/Dockerfile | sed -r "s/[^:]*:([0-9]+\.[0-9]+\.[0-9]+).*/\1/")
    OCI_PATH="$CI_REGISTRY_IMAGE/${OCI_IMAGE_NAME}:${IMAGE_TAG}-${OCI_IMAGE_VARIANT}"
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker build -t $OCI_PATH $DOCKERFILE_DIR
    docker save $OCI_PATH -o image.tar

push:rust-x86_64-unknown-linux-gnu:
  extends: .docker-in-docker
  stage: images
  needs:
    - image:rust-x86_64-unknown-linux-gnu
  variables:
    DOCKERFILE_DIR: "images/rust/x86_64-unknown-linux-gnu"
    OCI_IMAGE_NAME: "images/rust"
    OCI_IMAGE_VARIANT: "x86_64-unknown-linux-gnu"
  rules:
    - if: '$IMAGE_PUSH_FORCE == "all" || $IMAGE_PUSH_FORCE == "rust-x86_64-unknown-linux-gnu"'
    - changes:
        paths:
          - "images/rust/x86_64-unknown-linux-gnu/Dockerfile"
          - ".gitlab/ci/images.gitlab-ci.yml"
      if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH'
  script: |
    IMAGE_TAG=$(grep "^FROM rust:" ${DOCKERFILE_DIR}/Dockerfile | sed -r "s/[^:]*:([0-9]+\.[0-9]+\.[0-9]+).*/\1/")
    OCI_PATH="$CI_REGISTRY_IMAGE/${OCI_IMAGE_NAME}:${IMAGE_TAG}-${OCI_IMAGE_VARIANT}"
    docker load -i image.tar
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker push $OCI_PATH

image:rust-wasm32-wasip2:
  extends: .docker-in-docker
  stage: images
  needs: []
  variables:
    DOCKERFILE_DIR: "images/rust/wasm32-wasip2"
    OCI_IMAGE_NAME: "images/rust"
    OCI_IMAGE_VARIANT: "wasm32-wasip2"
    GIT_FETCH_EXTRA_FLAGS: "+refs/heads/$CI_DEFAULT_BRANCH:refs/remotes/origin/$CI_DEFAULT_BRANCH"
  artifacts:
    expire_in: "1 hr"
    paths:
      - "./image.tar"
  rules:
    - if: '$IMAGE_BUILD_FORCE == "all" || $IMAGE_BUILD_FORCE == "rust-wasm32-wasip2"'
    - if: '$IMAGE_PUSH_FORCE == "all" || $IMAGE_PUSH_FORCE == "rust-wasm32-wasip2"'
    - changes:
        compare_to: "refs/heads/$CI_DEFAULT_BRANCH"
        paths:
          - "images/rust/wasm32-wasip2/Dockerfile"
          - ".gitlab/ci/images.gitlab-ci.yml"
      if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - changes:
        paths:
          - "images/rust/wasm32-wasip2/Dockerfile"
          - ".gitlab/ci/images.gitlab-ci.yml"
      if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH'
  script: |
    IMAGE_TAG=$(grep "^FROM rust:" ${DOCKERFILE_DIR}/Dockerfile | sed -r "s/[^:]*:([0-9]+\.[0-9]+\.[0-9]+).*/\1/")
    OCI_PATH="$CI_REGISTRY_IMAGE/${OCI_IMAGE_NAME}:${IMAGE_TAG}-${OCI_IMAGE_VARIANT}"
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker build -t $OCI_PATH $DOCKERFILE_DIR
    docker save $OCI_PATH -o image.tar

push:rust-wasm32-wasip2:
  extends: .docker-in-docker
  stage: images
  needs:
    - image:rust-wasm32-wasip2
  variables:
    DOCKERFILE_DIR: "images/rust/wasm32-wasip2"
    OCI_IMAGE_NAME: "images/rust"
    OCI_IMAGE_VARIANT: "wasm32-wasip2"
  rules:
    - if: '$IMAGE_PUSH_FORCE == "all" || $IMAGE_PUSH_FORCE == "rust-wasm32-wasip2"'
    - changes:
        paths:
          - "images/rust/wasm32-wasip2/Dockerfile"
          - ".gitlab/ci/images.gitlab-ci.yml"
      if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH'
  script: |
    IMAGE_TAG=$(grep "^FROM rust:" ${DOCKERFILE_DIR}/Dockerfile | sed -r "s/[^:]*:([0-9]+\.[0-9]+\.[0-9]+).*/\1/")
    OCI_PATH="$CI_REGISTRY_IMAGE/${OCI_IMAGE_NAME}:${IMAGE_TAG}-${OCI_IMAGE_VARIANT}"
    docker load -i image.tar
    docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    docker push $OCI_PATH
